.marketplace_container {
    display: flex;
    flex-direction: column;
}

.marketplace_container #banner {
    width: 100%;
    height: 658px;
    flex-shrink: 0;
}

.marketplace_container .card {
    background-color: #BCD3E0;
    border: 0;
    border-radius: 12px;
    padding-top: 30px;
    padding-left: 20px;
    width: 574px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.marketplace_container .card img {
    
}