* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    width: 100%;
}
  
img {
    height: 100vh;
}


.form {
    background-color: #fff;
    padding: 40px 20px;
    width: 50%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form .logo-container img {
    height: 40px;
    margin-bottom: 10px;
}

.form h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    color: #333;
    font-weight: 600;
    font-size: 28px;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 66%;
}

.form #loginForm div .label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}
  
.form input {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
}

.form #loginForm div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.form #loginForm div input, .form #loginForm button, .form #loginForm div .social-buttons {
    width: 100%;
    padding: 10px; 
}

#createAccount {
    color: #52433D;
    cursor: pointer;
    font-weight: bold;
}

.form button:hover {
    background-color: #0056b3;
}

.form .btnEntrar {
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    /* background-color: #222B2F; */
    background: linear-gradient(#0C0A09, #52433D);
    font-size: 16px;
    font-weight: 600;
    transition: 1s;
    margin-bottom: 10px;
}

.form .btnEntrar:hover {
    background-color: #3C4C53;
}

.form #loginForm .cc {
    display: flex;
    flex-direction: row-reverse;
}

.or {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
}
  
  /* Estilos para os botões sociais */
.social-buttons {
    display: flex;
    flex-direction: column;
}
  
.social-buttons button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.form .btnGoogle {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.30);
    font-weight: 600;
    border-radius: 4px;
    background-color: #DB4437;
}

.form .btnFacebook {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.30);
    background-color: #3B5998;
    color: #fff;
    font-weight: 600;
}
  
.create-account {
    text-align: center;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
}
  
.create-account .emphasis {
    font-weight: bold;
    text-decoration: none;
}

Link {
    text-decoration: none;
    color: #52433D;
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
      padding: 40px;
    }
  }
  
  /* Celulares (até 767px) */
@media (max-width: 767px) {
    .container {
      padding: 40px;
    }
    .form {
      max-width: 100%;
    }
}