.pet-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 25%;
    /* padding: 10px; Adicione algum preenchimento para espaçamento interno (opcional) */
    margin-bottom: 50px;
    position: relative; /* Adicionado */
}

.pet-card .images .petPicture {
    width: 100%;
}

.pet-card .images .favorite {
    position: absolute;
    top: 0px; /* Ajuste conforme necessário */
    left: 0px; /* Ajuste conforme necessário */
    z-index: 1; /* Ensure the like button stays in front */
    border: 0;
    background-color: transparent;
}

/* Aumentar o tamanho do ícone */
.pet-card .images .favorite .svg-inline--fa {
    font-size: 30px; /* Altere o tamanho do ícone conforme necessário */
}


.pet-card .pet-informations .petNameLocation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pet-card .pet-informations .petName {
    display: flex;
    justify-content: center;
}

.pet-card .pet-informations .petName img {
    margin-left: 8px;
}

.pet-card .images .favorite {
    position: absolute;
    top: 10px; /* Ajuste conforme necessário */
    left: 10px; /* Ajuste conforme necessário */
    z-index: 1; /* Ensure the like button stays in front */
    width: 100px; /* Definindo a largura do botão */
    height: 100px; /* Definindo a altura do botão */
}


.pet-card .pet-informations {
    padding: 18px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: -50px;
    width: 280px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pet-card .pet-informations .petLocation {
    margin-top: 10px;
    font-size: 18px;
}

.pet-card .pet-informations .petName .petGender {
    width: 30px;
}

.pet-card .pet-informations .petName {
    font-size: 22px;
    font-weight: bold;
}

.pet-card .container1 .favoritePet {
    width: 20px;
}

.pet-card .pet-informations .containerBday {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.pet-card .pet-informations .containerBday p {
    margin-left: 5px;
}

.favorite.active {
    color: red;
}
