* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page header Header {
  width: 100vw;
  align-self: center;
}

.page main {
  margin-top: 20px;
}

.page footer {
  margin-top: 20px;
}